<%= @user.username %>
<br/>
"Tag Line Should Be Here!"
<br/>
<br/>
<br/>
<br/>
<br/>

<% @notes.each do |note| %>
  <a href="/notes/<%= note.id %>"><%= note.text %></a>
  <br/>
  By: <a href="/users/<%= note.user_id %>"><%= note.author %></a>
  <br/>
  <br/>
  <br/>
<% end %>